registry=https://registry.npmjs.org/
@fxft:registry=https://repository.fxft.online/repository/npm-public/
//repository.fxft.online/repository/npm-public/:_auth=ZnhmdG5wbTppZW43MjNvaWVy
always-auth=true
